/* .cell {
    width: 30vw;
    padding: 0px;
} */
/* .button {
    /* margin-left: 15px; */


    /* margin-right: 20px; */
    /*text-align: right;
    float: right; */
    /* padding:0px; */
    /* text-align: center;
    display:table-cell;
    vertical-align:middle; */
/* }  */
td {
    align-content: center;
}