<!-- <div class="cell"> -->
<!-- <div>
    <table>
        <tr>
            <td colspan="2">
                {{ pizza.name }}
            </td>
        </tr>
        <tr *ngFor="let preis of pizza.preise; index as i" (click)="onAdd(pizza.groesen[i])">
            <td>
                {{ pizza.groesen[i] }}
            </td>
            <td>
                {{ preis | currency:'EUR':'symbol-narrow'}}
            </td>
        </tr>
    </table>
</div> -->
<div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ pizza.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
            <mat-list *ngFor="let preis of pizza.preise; index as i">
                <ng-container *ngIf="i != 0">
                    <mat-divider></mat-divider>
                </ng-container>
                <mat-list-item (click)="onAdd(pizza.groesen[i])">
                    {{ preis }}
                    {{ pizza.groesen[i] }}
                </mat-list-item>
            </mat-list>
    </mat-expansion-panel>
</div>