<!-- <div class="container">
    <app-pizza-item *ngFor="let pizza of pizzas" [pizza]="pizza">
    </app-pizza-item>
</div> -->
<!-- <div>
    <mat-grid-list cols="3">
            <app-pizza-item *ngFor="let pizza of pizzas" [pizza]="pizza"></app-pizza-item>
    </mat-grid-list>
</div> -->
<mat-accordion>
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let pizza of pizzas">
            <app-pizza-item [pizza]="pizza"></app-pizza-item>
        </mat-grid-tile>
    </mat-grid-list>
</mat-accordion>